<a href="https://colab.research.google.com/github/Droan454/EDA-TELECOM-CHURN-ANALYSIS/blob/main/Copy_of_Telecom_Churn_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> Orange S.A., formerly France Télécom S.A., is a French multinational telecommunications corporation. The Orange Telecom's Churn Dataset, consists of cleaned customer activity data (features), along with a churn label specifying whether a customer canceled the subscription.

## <b> Explore and analyze the data to discover key factors responsible for customer churn and come up with ways/recommendations to ensure customer retention. </b>

In [1]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
file_path= ('/content/gdrive/MyDrive/Colab Notebooks/EDA TELECOM/Telecom Churn.csv')
df = pd.read_csv(file_path,encoding='ISO-8859-1')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
df.shape

(3333, 20)

In [5]:
df.head()

  State  Account length  ...  Customer service calls  Churn
0    KS             128  ...                       1  False
1    OH             107  ...                       1  False
2    NJ             137  ...                       0  False
3    OH              84  ...                       2  False
4    OK              75  ...                       3  False

[5 rows x 20 columns]

In [6]:
df.columns

Index(['State', 'Account length', 'Area code', 'International plan',
       'Voice mail plan', 'Number vmail messages', 'Total day minutes',
       'Total day calls', 'Total day charge', 'Total eve minutes',
       'Total eve calls', 'Total eve charge', 'Total night minutes',
       'Total night calls', 'Total night charge', 'Total intl minutes',
       'Total intl calls', 'Total intl charge', 'Customer service calls',
       'Churn'],
      dtype='object')

**State** = States of France

**Account Length** = The number of days the account is active

**Area Code**= The Zip/Pin code

**International plan**= If the customer has international plan

**Voice mail plan**= If the customer has voice mail plan

**Number vmail messages**= Number of voicemail message sent

**Total day minutes** = Total mins in day

**Total day calls**= total calls in day

**Total day charge**= total charge in day's call

**Total eve minutes**= total mins in evening

**Total night minutes**= total mins in night

**Total night charge**= total charge in night's call

**Total intl minutes**= total international-call mins

**Total intl calls**=  total international calls

**Total intl charge**= total charge for international calls

**Customer service calls**= total customer service calls

**Churn**= Churn is a metric that shows customers who stop doing business with a company or a particular service, also known as customer attrition

In [7]:
df.head()

  State  Account length  ...  Customer service calls  Churn
0    KS             128  ...                       1  False
1    OH             107  ...                       1  False
2    NJ             137  ...                       0  False
3    OH              84  ...                       2  False
4    OK              75  ...                       3  False

[5 rows x 20 columns]

In [19]:
df.isnull().values.any()

False

In [22]:
table=df.describe()
table

       Account length    Area code  ...  Total intl charge  Customer service calls
count     3333.000000  3333.000000  ...        3333.000000             3333.000000
mean       101.064806   437.182418  ...           2.764581                1.562856
std         39.822106    42.371290  ...           0.753773                1.315491
min          1.000000   408.000000  ...           0.000000                0.000000
25%         74.000000   408.000000  ...           2.300000                1.000000
50%        101.000000   415.000000  ...           2.780000                1.000000
75%        127.000000   510.000000  ...           3.270000                2.000000
max        243.000000   510.000000  ...           5.400000                9.000000

[8 rows x 16 columns]

In [33]:
mean_table=pd.DataFrame(table.iloc[1][3:-1]).T
mean_table

      Total day minutes  Total day calls  ...  Total intl calls  Total intl charge
mean         179.775098       100.435644  ...          4.479448           2.764581

[1 rows x 12 columns]

**Total day minutes**  mean is less than **Total eve minutes**. **Total eve minutes** and **Total night minutes** mean  is almost same. so people preferes to talk to more after evening.

Mean of **Total day calls** , **Total eve calls** and **Total night calls** is almost same.

Mean of **Total day charge**, **Total eve charge** and **Total night charge** has difference. 
avarage charges be like **day-charge > evening charge > night charge**

**International calls mins** is very less.